.landing-page-container {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1920px;
  height: auto;
  justify-content: space-evenly;
  row-gap: 20px;
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto auto;

}

.video-list {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

}

.video-box {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.video-content-box {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: left;
  width: 320px;
  text-align: start;
}

.video {
  border-radius: 10px;
  width: 320px;
  height: 180px;
}

.video-item-title {
  font-size: 1.4rem;
  font-weight: 700;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.video-item-channel {
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 5px;
}

.video-item-desciption {
  text-overflow: ellipsis;
  overflow: hidden;
  max-height: 30px;
}

@media only screen and (max-width: 1024px) {
  .grid {
    grid-template-columns: auto auto;
  }
}

@media only screen and (max-width: 768px) {
  .grid {
    grid-template-columns: auto;
  }
}
