.landing-page-container {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.video-item{
  border-radius: 20px;
}

.video-box{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
}

.content-box{
  justify-content: flex-start;
}

.item-title{
  font-weight: 700;
  color: blue;
}

.video{
  height: 350px;
  width: 400px;
}
