.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 2.5rem;
  text-align: center;
}

ul .nav-all {
  width: 60px;
  text-align: center;
  padding: 5px 15px;
  border-radius: 15px;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 700;
  color: #fff;
  background-color: #353b48;
}


.nav-item {
  background-color: #ccc;
  width: fit-content;
  padding: 5px 15px;
  border-radius: 15px;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;
  margin-right: 40px;
}

.nav-item:hover {
  background-color: black;
  color: #fff;
  text-decoration: underline;
}
